<%- include('partials/header.ejs') %>
      <h1>Book Club Homepage</h1> <hr>
      <h3 id="welcome">Welcome to the club, <%=rows[0].first_name%> <%=rows[0].last_name%>!</h3>
    </main>
  </body>
</html>